/*
.test-quadon{
    font-family: "quadon",Georgia,serif;
    font-weight: lighter;
}
.not-found{
    font-family: "quadon",Georgia,serif;
    font-weight: bold;
}

.distance-learning-logo-text{
    background: #ffffff;
    color: #005395;
    font-family: serif;
    font-size: 32px;
    position: absolute;
    top: 91px;
    left: 114px;
    padding: 5px;
    min-width: 300px;
}

*/
h1,h2,h3{
    font-family: "quadon",Georgia,serif;
}
h1 .h1-content{
    background: #8CBFD2;
    padding-left: 10px;
}
/*for title content*/
pre.center{
    width: 60%;
    border: #F2773F solid;
}
div.containTable{
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #d1d1d1;
}
div.containTable2{
    height: 200px;
    position: relative;
    /*1 make the container element to be relatively positioned, which declares it to be a container for absolutely positioned elements*/
    border: 2px solid #000000;
}
div.containTable2 p{
    margin: 0;
    position: absolute;
    /*2 make the element itself to be absolute positioned*/
    top:50%;
    /*3 place it halfway down the container using 'top:50%'*/
    transform: translate(0,-50%)
    /*4 use a translation to move the element up by half its own height, the 50% in translate(0,-50%) refers to the height of the element itself*/
}



